{% extends 'anggota.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="border-radius: 16px;">
    <form method="post" hx-post="/listanggota/edit/{{ edit.id }}"  hx-swap="outerHTML">
                {% csrf_token %}
                <div class="modal-header" style="padding-right: 40px;padding-left: 40px;">
                    <p class="modal-title" style="color: #04195B; font-weight:700;font-size: 18px;">Edit Anggota</p>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-left: 0px;">
                        <div class="col">
                        <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Nim</p>
                        {% render_field anggota_form.nim class="form-control form-control-sm" placeholder="Masukkan Nim" style="border-radius: 10px;" value="{{edit.nim }}" %}
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col" style="padding-right: 40px;padding-left: 40px;">
                            <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Nama</p>
                            {% render_field anggota_form.nama class="form-control form-control-sm" placeholder="Masukkan Nama" style="border-radius: 10px;" value="{{edit.nama }}" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-right: 40px;padding-left: 40px;">
                            <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Kelas</p>
                            {% render_field anggota_form.kelas class="form-control form-control-sm" placeholder="Masukkan Kelas" style="border-radius: 10px;" value="{{edit.kelas }}" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-right: 40px;padding-left: 40px;padding-bottom: 18px;">
                            <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Fakultas</p>
                            {% render_field mahasiswa_form.fakultas class="form-control form-control-sm" placeholder="Masukkan Fakultas" style="border-radius: 10px;" value="{{edit.fakultas }}" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-right: 40px;padding-left: 40px;padding-bottom: 18px;">
                            <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Jurusan</p>
                            {% render_field mahasiswa_form.jurusan class="form-control form-control-sm" placeholder="Masukkan Jurusan" style="border-radius: 10px;"value="{{edit.jurusan }}"  %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-right: 40px;padding-left: 40px;padding-bottom: 18px;">
                            <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Jenis Kelamin</p>
                            {% render_field mahasiswa_form.jenis_kelamin class="form-control form-control-sm" placeholder="Masukkan Jenis Kelamin" style="border-radius: 10px;" value="{{edit.jenis_kelamin }}" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-right: 40px;padding-left: 40px;padding-bottom: 18px;">
                            <p style="color: #1E1E1E;margin-bottom: 0px;margin-top: 16px;">Tanggal Lahir</p>
                            {% render_field mahasiswa_form.tanggal_lahir class="form-control form-control-sm" placeholder="Masukkan Tanggal Lahir" type="date" style="border-radius: 10px;" value="{{edit.tanggal_lahir }}" %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 14px; background-color: #FfffFf; color: #737373; border-color: #E4E4E4;">Batal</button>
                    <button type="submit"  data-bs-dismiss="modal" value="submit" class="btn btn-primary" style="font-size: 14px; background-color: #428DFC;">Update Buku</button>
                </div>
            </form>
        </div>
    </div>
 {% endblock %}